@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,500&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

  /* ############## nav bar ######################## */
  .container-about{
    padding: 2rem 4rem;
    background-color: #263238;
  }
  .container{
    padding: 2rem 4rem;
    background-image: url("../images/mainbg.jpg");
    height: 100vh;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar h2{
  color: white; 
  font-size: 1.5rem; 
  font-family: 'Playfair Display', serif; 
  font-style: italic;
  font-weight: 300;
}
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar ul{
    display: flex;
    flex-direction: row;
  }
  ul li{
    list-style: none;
    justify-content: space-between;
  }
  ul li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
  }
ul li a:hover{
  color: #FFCA03;
}

  /* ################ Drop Down ################ */
.dropbtn {
    background-color:  #FFCA03;
    border-radius: 50px;
    color: white;
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    margin: 0.5rem 1rem;
    display: block;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: rgb(250, 252, 161);}
  .dropdown:hover .dropdown-content {display: block; right: 4px;}
  .dropdown:hover .dropbtn {background-color: #ffae00;}




  /* ##################### toggle #################### */
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
  
/* ############################ Detail Box ################ */
.box{
  width: 40%;
}

.box h1{
  color: white; 
  font-size: 3rem; 
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 300;
  margin-top: 7rem;
  margin-bottom: 2rem;
}
.box p{
  color: white;
  text-align: justify;
  margin-bottom: 2rem;
}
.btn-box .btn1{
    background-color:  #FFCA03;
    border-radius: 50px;
    text-decoration: none;
    width: 11rem;
    color: white;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: none;
    display: block;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-align: center;
}
.btn1:hover{
  background-color: #ffae00;
}

/* ###################### start ################### */
.start{
  height: 100vh;
  width: 100%;
  background-color: #FFCA03;
  display: grid;
  place-items: center;
}
.main1{
  width: 25rem;
  height: 35rem;
  background-image: linear-gradient(rgba(0,0,0.6,0.6),rgba(0,0,0.6,0.6)), url("../images/sign.jpg");
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 2rem;
  box-shadow: 0 1.2rem 3rem 0.5rem rgba(14, 13, 13, 0.2);
  padding: 1.5rem 3rem;
  display: grid;
  place-items: center;
}
.btn-start{
  background-color:  #FFCA03;
    border-radius: 50px;
    text-decoration: none;
    width: 20rem;
    color: white;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: none;
    display: block;
    cursor: pointer;
    margin: 1rem 0;
    border: 1px solid #fff;
    text-align: center;
}
.btn-start:hover{
  background-color: #ffae00;
  color: #f1f1f1;
  transform: rotatey(10deg);
}


/* ######################## About ######################### */
.about{
  height: 470px;
  width: 100%;
  background-color: #263238;
  margin-top: 5rem;
  padding: 2rem 5rem;
}
.img-box{
  float: left;
}
.img-box img{
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.para-box{
  float: right;
  width: 50%;
}
.para-box h2{
  color: #f1f1f1;
  font-size: 3rem; 
  font-family: 'Playfair Display', serif;
  font-style: italic;
  margin-bottom: 2rem;
}
.para-box p{
  color: #f1f1f1;
  word-spacing: .5rem;
  text-align: justify;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.btn-about{
  background-color:  #FFCA03;
    border-radius: 50px;
    text-decoration: none;
    width: 8rem;
    color: white;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: none;
    display: block;
    cursor: pointer;
    margin: 1rem 2.5rem;
    border: 1px solid #fff;
    text-align: center;
}
.btn-about:hover{
  background-color: #ffae00;
  color: #f1f1f1;
  transform: rotatey(10deg);
}


/* ####################### Contact ######################## */

.contact{
  padding: 2rem 4rem;
  width: 100%;
  height: 570px;
  margin-top: 5rem;
}
.contact h2{
  color: #263238; 
  font-size: 2.5rem; 
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 2rem;
}
.form-control{
  width: 600px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}
textarea{
  width: 600px;
  padding: 1rem 2rem;
}
.left{
  width: 50%;
  float: left;
}
.image{
  float: right;
  
}
.image img{
  height: 500px;
  width: 600px;
  object-fit: fill;
}
/* #status{
  text-align: center;
}
#status.success{
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error{
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status{
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
} */


/* ###################### footer ################## */
.footer{
  background: #263238;
  color: #f4f4f4;
  padding: 2rem;
  text-align: center;
  margin-top: 5rem;
}
.content ul {
  display: grid;
  place-items: center;
}
.social-media-links i{
  margin: 1rem 2rem;
}


/* ###################### Chef_Profile ###################### */

.left-profile{
  float: left;
  margin-top: 1rem;
  height: 70vh;
  width: 300px;
  background-color: #263238;
  padding: 4rem 2rem;
}
.right-profile{
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
  height: 70vh;
  width: 75%;
  border: 1px solid #26323877;
  border-radius: 25px;
  padding: 2rem 3rem;
  background-color: #FFCA03;
}
.right-dashboard .img-dashboard{
  float: right;
  margin-top: 1rem;
  height: 70vh;
  width: 75%;
  object-fit: fill;
  margin-right: 1rem;
}
.img-profile{
  margin-bottom: 1rem;
}
.field{
  float: left;
  width: 50%;
  /* background-color: #FFCA03; */
  padding-right: 6rem;
}
.fieldname{
  color: #111; 
  font-size: 1.2rem; 
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  float: left;
  
}
.fielddata{
  float: right;
  color: #263238; 
  font-size: 1.2rem; 
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  
}
.left{
  text-align: center;
}
.left a{
  color: white;
  /* padding: 20px 25px; */
  text-decoration: none;
}
.blue{
  width: 50%;
  padding: 12px 16px;
  border: 2px solid blue;
  border-radius: 10px;
  text-align: center;
  background-color: blue;
  margin-bottom: 4rem;
  margin-left: 8rem;
}
.red{
  width: 50%;
  padding: 12px 16px;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 10px;
  text-align: center;
  background-color: rgb(255, 0, 0);
  color: #fff;
  font-size: large;
}


/* ################## Media Query ####################### */

@media (max-width: 400px){
   .container{
    padding: 1rem 2rem;
    background-position: center;
    height: 100%;
  }
  .container-about{
    padding: 1rem 2rem;
  }
  .dropbtn{
    background: transparent;
    margin: 0.25rem .5rem;
    text-transform: uppercase;
  }
  .dropdown:hover .dropbtn {background: transparent;}
  .toggle-button{
    display: flex;
  }
  .navbarlinks{
    display: none;
    width: 100%;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar ul{
    flex-direction: column;
  }
  .navbar ul li{
    text-align: center;
  }
  .navbar li a{
    padding: .5rem 1rem;
  }
  
  .navbarlinks.active{
    display: flex;
  }
  .box{
    width: 100%;
  }
  .social-media-links i{
    margin: 1rem 1rem;
  }
  .main1{
    width: 20rem;
    height: 30rem;
  }
  .btn-start{
    width: 15rem;
  }
  .about{
    display: block;
  }
  .img-box{
    float: none;
  }
  .img-box img{
    height: 390px;
    margin: 2rem 0rem;
    object-fit: fill;
  }
  .para-box{
    float: none;
    width: 100%;
  }
  .about{
    height: 810px;
    width: 100%;
    margin-top: 5rem;
    padding: 1rem 1rem;
  }
  .para-box h2{
    font-size: 1.5rem;
  }
  .para-box p{
    word-spacing: 0;
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .contact{
    height: 730px;
    /* background-color: #263238; */
    display: block;
    padding: 0 1rem;
  }
  .contact h2{
    font-size: 2rem; 
  }
  .form-control{
    width: 290px;
    padding: auto;
  }
  textarea{
    width: 290px;
    padding: 1rem 2rem;
  }
  .left{
    width: 100%;
    float: none;
  }
  .image{
    float: none;
    
  }
  .image img{
    height: 200px;
    width: 290px;
    object-fit: fill;
  }
  .navbar{
    display: inline;
  }
  .right-dashboard .img-dashboard{
    float: none;
    height: 60vh;
    width: 100%;
    object-fit: fill;
  }
  .left-profile{
    float: none;
  }
  .right-profile{
    float: none;
    margin-right: 0;
    height: 100vh;
    width: 100%;
    /* padding: 1rem 2rem; */
  }
    
  .field{
    width: 100%;
    padding-right: 0;
    margin-bottom: 4rem;
  }
  .fieldname{
    font-size: .8rem;
  }
  .fielddata{
    font-size: .8rem;
  }
  .blue{
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
}