<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeWala</title>
    <link rel="icon" href="../static/images/icon.png" type="image/icon type" style="border-radius: 50%;">
    <link rel="stylesheet" href="../static/css/chef_signup.css">
</head>
<body>
        <div class="container">
            <div class="main">
                <div class="second">
                <h2>Change Password :</h2>
                <form action="/user_password_change" method="POST">
                    <label for="">New Password</label>
                    <input type="password" name="password" autofocus> <br> 
                    <input type="submit" value="Change Password" class="button" style="padding: .3rem 5.5rem;">
                </form>
                </div>
            </div>
        </div>
    
</body>
</html>