<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeWala</title>
    <link rel="icon" href="../static/images/icon.png" type="image/icon type">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/chat.css">
    <link rel="stylesheet" href="../static/css/table.css">
    <script src="https://kit.fontawesome.com/bcdac9a129.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-about">
        <nav class="navbar">
          <h2 class="dashboard-h">RecipeWala</h2>
            <div class="nav">
            <ul>
              <li><a href="/user_dashboard"><i class="fa-solid fa-grid-horizontal"></i></a></li>
              <li>
                <div class="dropdown">
                  <button class="dropbtn" name="name">{{session['name']}} <i class="fas fa-caret-down"></i></button>
                    <div class="dropdown-content">
                      <a href="/user_profile">Profile</a>
                      <a href="/user_logout">Logout</a>
                    </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    <div class="left-profile">
        <ul>
            <li><a href="/user_dashboard"><i class="fas fa-chart-line"></i>  DASHBOARD</a></li>
            <li><a href="/user_profile"><i class="fas fa-user-circle"></i>  PROFILE</a></li>
            <li><a href="/user_recipe"><i class="fas fa-chevron-circle-down"></i>  RECIPES</a></li>
            <li><a href="/user_message"><i class="fas fa-comments-dollar"></i>  MESSAGE</a></li>
            <li><a href="/user_logout"><i class="fas fa-sign-out-alt"></i>  LOGOUT</a></li>
        </ul>
    </div>
    
    <div class="right-profile" style="background-color: white; border: none; padding-top: 0;">
        <div class="container10" style="margin-left: 1rem;">
          <h2>Messages:</h2>
          <table>
            <thead>
              <tr>
                <th>Message Id</th>
                <th>Your Message</th>
                <th>Chef Name</th>
                <th>E-Mail</th>
                <th>Reply</th>
              </tr>
            </thead>
            {% for r in user_rec %}
            <tbody>
              <tr>
                <td>{{r[0]}}</td>
                <td>{{r[1]}}</td>
                <td>{{r[2]}}</td>
                <td>{{r[3]}}</td>
                <td>{{r[4]}}</td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>

</body>
</html>